<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="data/PowerGene-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue"/>
    <targets>
        <target name="logfile" xsi:type="File"
                fileName="${basedir}/Data/PowerGene.log"
                archiveFileName="${basedir}/Data/archives/PowerGene{#####}.log"
                archiveAboveSize="5242880"
                archiveNumbering="Sequence"
                concurrentWrites="true"
                keepFileOpen="false"
                maxArchiveFiles="3" />
    </targets>
    <rules>
        <logger name="*" minlevel="Warn" writeTo="logfile" />
    </rules>
</nlog>
